@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .logo{
        width: 18rem;
        margin: 0;
    }
}
.swiper-pagination-bullet {
   
    width: 8px;  /* adjust as per your requirement */
    height: 4px; /* adjust as per your requirement */
  }
  .swiper-pagination {
    bottom: 0 !important; 
  }
  .mySwiper .swiper-button-next::after, 
.mySwiper .swiper-button-prev::after {
    font-size: 12px;  /* Reduce the size of the arrow. Adjust as required */
}

.volunteer{
    background: rgba(255, 255, 255, 0.387);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );   
}
.storyBackground{
    border-radius: 5px;
    margin-bottom: 2.5rem;
}